# Dependencies
node_modules
.pnpm-store

# Build outputs
dist
.next
out

# Electron
release

# Environment
.env
.env.local
.env.*.local

# IDE
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea

# OS
.DS_Store
Thumbs.db

# Turbo
.turbo

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Testing
coverage
